<H1>Todo</H1>
<!--En créant un alias as item dans le @if (todo(); as item), -->
<!--vous extrayez l'objet TodoBean du Signal. -->
<!--Le two-way binding [(ngModel)] s'applique alors directement -->
<!--sur les propriétés de cet objet :-->



@if (todo(); as item) {
  <div class="container">

    @if (todoForm.dirty && todoForm.invalid) {
      <div class="alert alert-warning"> Enter valid values</div>
    }

    @if (todoForm.dirty && targetDate.invalid) {
      <div class="alert alert-warning"> Enter valid Target Date</div>
    }

    @if (todoForm.dirty && description.invalid) {
      <div class="alert alert-warning"> Enter at least 5 characters in Description</div>
    }

    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
      <fieldset class="form-group">
        <label>Description</label>
        <input type="text" #description="ngModel"
               [(ngModel)]="item.description"
               class="form-control" name="description" required="required" minlength="5">
      </fieldset>
      <fieldset class="form-group">
        <label>Target Date</label>
        <input type="date" #targetDate="ngModel"
               [ngModel]="item.targetDate | date:'yyyy-MM-dd' "
               (ngModelChange)="item.targetDate = $event"
               class="form-control" name="targetDate" required="required">
      </fieldset>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
}
